.animation-shake {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-fill-mode: both;
}

@keyframes shake {
    0%, 100% { transform: translateX(0) translateY(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px) translateY(5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px) translateY(-5px); }
}

.animation-ripple {
    animation-name: ripple;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.animation-heartbeat {
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes heartbeat {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}

.animation-heartbeat2 {
    animation-name: heartbeat2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes heartbeat2 {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

/* Zigzag edge https://css-tip.com/zig-zag-edge/ */
.animation-sequence-wheel-final {
    animation-name: sequence-wheel-final;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes sequence-wheel-final {
    0% {
        rotate: 0turn;
        scale:1;
    }

    100% {
        rotate: 5turn;
        scale:3;
    }
}

.animation-sequence-center-final {
    animation-name: sequence-center-final;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes sequence-center-final {
    0% {
        scale: 1;
    }

    100% {
        scale: 10;
        background-color: #1a1a1a;
        border-color: #1a1a1a;        
    }
}

.animation-bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}