@import "tailwindcss";

@theme {
  --color-dark: #1a1a1a;
  --color-dark-secondary : #242424;
  --color-dark-border: #2a2a2a;
  --color-dark-text: #e0e0e0;
}

button {
  cursor: pointer;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}